@use "./variables";
@use "./mixins";

.header-mask {
  display: none;

  @media (min-width: variables.$breakpoint-pc) {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: block;
    position: fixed;
    top: 0;
    z-index: 9;
  }
}

header {
  max-width: 1200px;
  padding: 24px;
  background-color: #a8d5e2; /* default color */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 10;

  @media (min-width: variables.$breakpoint-tablet) {
    flex-direction: row;
    gap: 0;
  }

  @media (min-width: variables.$breakpoint-pc) {
    border-radius: 40px;
    width: 1200px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    top: 20px;
  }
  
  &.is-dark {
    menu a,
    nav .button_palette {
      color: variables.$light-font;
      border-color: variables.$light-font;
    }
    .logo {
      span {
        &.n {
          border-right: 10px solid transparent;
          border-bottom: 10px solid variables.$light-font;
          @include mixins.animation(moving_logo_n_light 4s ease-in-out);
        }
        &.s {
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          border-bottom: 10px solid variables.$light-font;
          @include mixins.animation(moving_logo_s_light 3s ease-in-out);
        }
        &.y {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: variables.$light-font;
          @include mixins.animation(moving_logo_y 2s ease-in-out);
        }
      }
    }
  }
  
  .logo {
    span {
      display: inline-block;
      width: 0;
      height: 0;

      &.n {
        border-right: 10px solid transparent;
        border-bottom: 10px solid variables.$dark-font;
        @include mixins.animation(moving_logo_n 4s ease-in-out);
      }
      &.s {
        // width: 8px;
        // height: 8px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 10px solid variables.$dark-font;
        @include mixins.animation(moving_logo_s 3s ease-in-out);
      }
      &.y {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: variables.$dark-font;
        @include mixins.animation(moving_logo_y 2s ease-in-out);
      }
    }
    @media (min-width: variables.$breakpoint-pc) {
      transform: scale(1.3);
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 16px;

    .button_palette {
      font-size: 16px;
      color: variables.$dark-font;
      @media (min-width: variables.$breakpoint-pc) {
        font-size: 18px;
      }
      i {
        vertical-align: middle;
      }
    }
  }
  menu {
    display: flex;
    gap: 10px;
    font-family: variables.$primary-font-style;
    a {
      font-size: 14px;
      color: variables.$dark-font;
      letter-spacing: 1px;
      padding-bottom: 2px; 
      border-bottom: 1px solid variables.$dark-font;
    }
    @media (min-width: variables.$breakpoint-tablet) {
      gap: 16px;
      a {
        font-size: 16px;
      }
    }
    @media (min-width: variables.$breakpoint-pc) {
      gap: 24px;
      a {
        font-size: 18px;
      }
    }
  }
}