@use './variables';

section {
  font-family: variables.$font-style;
  padding: 250px 16px 150px 16px;
  margin-top: -250px;
  position: relative;

  &:first-child {
    background-color: #f9a620;
    z-index: 8;
  }
  &:nth-child(2) {
    background-color: #ffd449;
    z-index: 6;
  }
  &:nth-child(3) {
    background-color: #548c2f;
    z-index: 4;
  }
  &:nth-child(4) {
    background-color: #104911;
    z-index: 2;
  }
  &:nth-child(even) {
    border-bottom-right-radius: 150px 150px;
  }
  &:nth-child(odd) {
    border-bottom-left-radius: 150px 150px;
  }
  &:last-child {
    border-radius: 0;
  }
  color: variables.$dark-font;
  &.is-dark {
    color: variables.$light-font;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
  }
  
  p {
    font-size: 20px;
  }
}
